<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch Party</title> 
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>
  {{!-- Navbar --}}
  <header class="subnav-hero-section my-hero">
          <div class="my-hero-container">
          <h2 class="subnav-hero-headling my-heading">Watch Party</h2>
          </div>
          <ul class="subnav-hero-subnav">
            <li><a href="/" class="is-active">Home</a></li>
            <li><a href="/create">Create a Party</a></li>
            <li><a href="/join">Join a Party</a></li>
            <li><a href="/watchlist">My Watch List</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </header>
  {{!-- Navbar end --}}

    <main>
        {{{ body }}}

    </main>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>