<div id="my-container-id" class="my-feature-container">
        <div class="work-feature-block row my-feature">
          <h3>C</h3>
        </div>
      <div class="work-feature-block row my-feature">
        <div class="columns medium-7">
          <h4>Title</h4>
          <a href="#" target="_blank"><img class="work-feature-block-image my-feature-img" src=""/></a>
        </div>
        <div class="columns medium-5">
          <h4 class="work-feature-block-header">Title</h4>
          <p>This application presents users with a dashboard in which they can search for poetry by author or title. They can then select words within the poem to get definitions. Definitions are displayed at the bottom of the screen and searched words are maintained in a list to act as a vocabulary builder.</p>
          <h4>Title</h4>
          <p>text</p>
          <h4>Title</h4>
          <p><a class="my-links" href="" target="_blank"></a></p>
        </div>
      </div>
