<div class="hero-section">
  <div class="hero-section-text">
    <video autoplay muted loop id="myVideo">
      <source src="/assets/OMSBG12.mov" type="video/mp4">
            Your browser does not support HTML5 video.
    </video>
  </div>
</div>


