<div>

    <div class="video-container">
      <video autoplay muted loop id="my-video">
        <source src="https://cdn.videvo.net/videvo_files/video/free/2013-09/small_watermarked/OMSBG12_preview.webm" type="video/mp4">
              Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="content">
      <div class="content-align">
          <h1>Welcome to Watch Party</h1>
          <h4>Helping friends and families watch together</h4>
          <br>
            <button id="my-btn-add" class="my-btns" onclick="">Add a Watch Party</button>
            <button id="my-btn-join" class="my-btns" onclick="">Join a Watch Party</button>
            {{!--  <button id="myBtn" onclick="myFunction()">Pause</button> --}}
           
      </div>
    </div>
</div>

<script src="/js/homepage.js"></script>



