<div id="my-container-id" class="my-feature-container">
        <div class="work-feature-block row my-feature">
          <h3>Profile </h3>
        </div>
      <div class="work-feature-block row my-feature">

        <div class="columns medium-6 my-create-divider">
          <h4 class="my-text-color">Account Info</h4>
          
          
          <form>
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="medium-10 cell">

                  <label>Name
                    <input type="text" placeholder="">
                  </label>
                  <label>Email
                    <input type="email" placeholder="">
                  </label>
                  <label>Password
                    <input type="password" placeholder="">
                  </label>
                 



                    


                </div>
              </div>
            </div>
          </form>

          {{!-- <a href="#" target="_blank"><img class="work-feature-block-image my-feature-img" src=""/></a> --}}
        </div>

        
        <div class="columns medium-6">
          <h4 class="work-feature-block-header">Invite Friends</h4>


        <form>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">

                {{!-- <div class="medium-4 cell my-form-input">
                  <label>Month
                    <select>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </label>   
                </div>          

                <div class="medium-2 cell my-form-input">
                  <label>Day
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16<ption>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                  </label>               
                </div>

                <div class="medium-3 cell my-form-input">

                  <label>Year
                    <input type="text" placeholder="Enter year" value="2021">
                  </label>
                </div> --}}

              <input class="btn-invite-party" type="button" value="Invite" onclick="">
                

            </div>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<!-- Start of body below -->

<div class="social-links">
  <div class="row">
    <div class="small-6 medium-3 columns text-center mobile-stack">
      <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
    </div>
    <div class="small-6 medium-3 columns text-center mobile-stack">
      <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
    </div>
    <div class="small-6 medium-3 columns text-center mobile-stack">
      <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i>Pinterest</a>
    </div>
    <div class="small-6 medium-3 columns text-center mobile-stack">
      <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
    </div>
  </div>
</div>
          </div>
        </form>

        {{!-- <a id="btn-create-party" class="button secondary" href="#">Create Party</a> --}}
        <input class="btn-create-party" type="button" value="Create Party" onclick="">

<!-- Use these stylesheets for icons and typography in head of your HTML doc if you want :) -->



        
        </div>
    </div>
</div>
 
<script src="/js/create.js"></script>
