<div id="my-container-id" class="my-feature-container">
        <div class="work-feature-block row my-feature">
          <h3>Profile </h3>
        </div>
      <div class="work-feature-block row my-feature">

        <div class="columns medium-6 my-create-divider">
          <h4 class="my-text-color">Account Info</h4>
          
          
          <form>
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="medium-10 cell">

                  <label>Name
                    <input type="text" placeholder="">
                  </label>
                  <label>Email
                    <input type="email" placeholder="">
                  </label>
                  <label>Password
                    <input type="password" placeholder="">
                  </label>
                </div>
              </div>
            </div>
          </form>


        </div>

        
        <div class="columns medium-6">
          <h4 class="work-feature-block-header">Invite Friends</h4>


        <form>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">

               

              <input class="btn-invite-party" type="button" value="Invite" onclick="">
                

            </div>
      </div>       
        </form>
</div>
