:root {
  /* --my-background: #d8e1e7; */
  --nav-background: white;
  --my-dark-grey: rgb(116, 115, 115);
}

/* Style the video: 100% width and height to cover the entire window */
#my-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 45px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 55px;
}

.content-align {
  text-align: center;
}

/* Style the button used to pause/play the video */
.my-btns {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

.my-btns:hover {
  background: #ddd;
  color: black;
}


/* For work feature block start */
.work-feature-block {
  padding: 10px 0;
  /* border-top: 1px solid #cacaca; */
  border-bottom: 1px solid #cacaca;
}

.work-feature-block-image {
  display: block;
  margin: auto;
  padding: 10px 0;
}
/* Work feature block end */


/* Custom feature styling start */

.my-hero-container {
  top: 10%;  
  float: none;
  position: absolute;
  text-align: center;
  margin: 5px auto;
  bottom: 35px;
}

.my-htext {
  color: var(--my-dark-grey);
  margin: 0px; 
}

.my-feature-container {
  color: var(--my-dark-grey);
  margin-bottom: 5%;
  margin-top: 5%;
}

.my-feature {
  color: var(--my-dark-grey);
}


.my-links {
  color: var(--my-dark-grey);
  text-decoration: underline;
}

.my-table-header {
  background-color: lightgrey;
}

.my-create-divider {
  border-right: solid;
  color: lightgrey;
}

.my-text-color {
  color: var(--my-dark-grey);
}

.my-form-input {
  float: left;
  margin-right: 20px;
}

.btn-create-party {
  background-color: var(--my-dark-grey);
  color: white;
  padding: 3% 10% 3% 10%;
  margin-top: 30%;
  box-shadow:rgb(116, 115, 115);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn-create-party:hover {
  background-color: grey;
  color: white;
}

.btn-create-party:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/* Custom styling end */